html, body, div, button, select, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Assistant", sans-serif;
}

html, body {
	height: 100%;
}

@media screen and (max-device-height: 780px) {
	.container {
		height: 580px;
	}

	.wrapper {
		min-height: 600px;
	}

	.content {
		height: 528px;
	}

	.parameters-wrapper {
		height: 478px;
	}

	.row-1 > div > .parameters-content {
		height: 211px;
	}

	.row-1 > div > .parameters-content-last {
		height: 211px;
	}

	.row-2 > div > .parameters-content {
		height: 202px;
	}

	.row-2 > div > .parameters-content-last {
		height: 202px;
	}

	.textarea {
		height: 430px;
	}

	.table-wrapper-1 {
		height: 433px;
	}

	.macro-row-2 {
		height: 491px;
	}

	.macro-row-4 {
		height: 485px;
	}

	.macro-align-wrapper {
		height: 395px;
	}

	.macro-operations-wrapper {
		height: 275px;
	}

	.macro-first-operation {
		height: 247px;
	}

	.macro-second-operation {
		height: 247px;
	}

	.macro-checkbox-wrapper {
		height: 148px;
	}

	.cpu-wrapper {
		height: 110px;
	}

	.micro-wrapper {
		height: 100px;
	}

	.idiom-0-wrapper {
		height: 55px;
	}

	.lsd-wrapper {
		height: 30px;
	}

	.idiom-1-wrapper {
		height: 5px;
	}
}

@media screen and (min-device-height: 810px) {
	.container {
		height: 720px;
	}

	.wrapper {
		min-height: 740px;
	}

	.content {
		height: 668px;
	}

	.parameters-wrapper {
		height: 618px;
	}

	.row-1 > div > .parameters-content {
		height: 281px;
	}

	.row-1 > div > .parameters-content-last {
		height: 281px;
	}

	.row-2 > div > .parameters-content {
		height: 272px;
	}

	.row-2 > div > .parameters-content-last {
		height: 272px;
	}

	.textarea {
		height: 570px;
	}

	.table-wrapper-1 {
		height: 573px;
	}

	.macro-row-2 {
		height: 631px;
	}

	.macro-row-4 {
		height: 625px;
	}

	.macro-align-wrapper {
		height: 530px;
	}

	.macro-operations-wrapper {
		height: 410px;
	}

	.macro-first-operation {
		height: 382px;
	}

	.macro-second-operation {
		height: 382px;
	}

	.macro-checkbox-wrapper {
		height: 160px;
	}

	.cpu-wrapper {
		height: 120px;
	}

	.micro-wrapper {
		height: 105px;
	}

	.idiom-0-wrapper {
		height: 55px;
	}

	.lsd-wrapper {
		height: 40px;
	}

	.idiom-1-wrapper {
		height: 10px;
	}
}

@media screen and (min-device-height: 920px) {
	.container {
		height: 900px;
	}

	.wrapper {
		min-height: 920px;
	}

	.content {
		height: 848px;
	}

	.parameters-wrapper {
		height: 798px;
	}

	.row-1 > div > .parameters-content {
		height: 371px;
	}

	.row-1 > div > .parameters-content-last {
		height: 371px;
	}

	.row-2 > div > .parameters-content {
		height: 362px;
	}

	.row-2 > div > .parameters-content-last {
		height: 362px;
	}

	.textarea {
		height: 750px;
	}

	.table-wrapper-1 {
		height: 753px;
	}

	.macro-row-2 {
		height: 811px;
	}

	.macro-row-4 {
		height: 805px;
	}

	.macro-align-wrapper {
		height: 625px;
	}

	.macro-operations-wrapper {
		height: 480px;
	}

	.macro-first-operation {
		height: 452px;
	}

	.macro-second-operation {
		height: 452px;
	}

	.macro-checkbox-wrapper {
		height: 225px;
	}

	.cpu-wrapper {
		height: 132px;
	}

	.micro-wrapper {
		height: 128px;
	}

	.idiom-0-wrapper {
		height: 61px;
	}

	.lsd-wrapper {
		height: 52px;
	}

	.idiom-1-wrapper {
		height: 20px;
	}
}

.wrapper {
	height: 100%;
	position: relative;
}

.container {
	width: 1300px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
}

.main-content {
	width: 85%;
	height: 100%;
	float: left;
}

.global-settings {
	width: 194px;
	height: 100%;
	float: left;
	border-left: 1px solid #ccc;
	text-align: center;
	position: relative;
}

.tabs {
	width: 100%;
    overflow: hidden;
}

.tab {
	width: 20%;
	height: 52px;
    background-color: inherit;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.3s;
}

.tab-last {
	width: 20%;
	height: 52px;
    background-color: inherit;
    float: left;
    border-bottom: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

.tabcontent {
	width: 100%;
	height: 100%;
	display: none;
}

.settings-wrapper {
	float: left;
	width: 45%;
}

.settings-title {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 24px;
	text-align: center;
}

.settings {
	height: 400px;
	overflow-y: auto;
	border: 1px solid #ccc;
}

.settings-wrapper-2 {
	float: left;
	width: 45%;
	padding-left: 110px;
}

.settings-2 {
	height: 200px;
	overflow-y: auto;
	border: 1px solid #ccc;
}

.select-wrapper {
	height: 120px;
}

input.checkbox {
	margin-right: 8px;
}

.checkbox-1 {
	margin-left: 8px;
}

p.checkbox {
	padding-bottom: 2px;
}

p.checkbox-last {
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: left;
}

input.panel-checkbox {
	margin-top: 16px;
	margin-left: 16px;
	margin-right: 8px;
}

input.panel-checkbox-last {
	margin-top: 16px;
	margin-left: 16px;
	margin-right: 8px;
	margin-bottom: 16px;
}

.select-last {
	margin-right: 0px;
}

.center-align {
	text-align: center;
}

.global-settings > p {
	padding: 18.5px 0px;
}

.language {
	width: 160px;
	height: 30px;
	border: 1px solid #ccc;
}

.blocks-wrapper {
	height: 250px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.blocks {
	padding: 0px 25px;
}

.blocks > .checkbox {
	margin-top: 12px;
	text-align: left;
}

.macro-first-operation > .checkbox {
	margin-top: 12px;
	text-align: left;
}

.macro-second-operation > .checkbox {
	margin-top: 12px;
	text-align: left;
}

.start {
	width: 170px;
	height: 40px;
	border: 1px solid #ccc;
	background:  rgba(176, 0, 0, 0.7);
	font-weight: 600;
	cursor: pointer;
}

.start:hover {
	background:  rgba(176, 0, 0, 1);
}

.start-wrapper {
	height: 70px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.tab-title {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	font-weight: 500;
}

.row-1 {
	height: 50%;
}

.row-2 {
	height: 50%;
}

.parameters-macro {
	height: 100%;
	width: 50%;
	float: left;
}

.parameters-macro > .parameters-content {
	border-bottom: 1px solid #ccc;
}

.parameters-micro {
	height: 100%;
	width: 50%;
	float: left;
}

.parameters-micro > .parameters-content-last {
	border-bottom: 1px solid #ccc;
}

.parameters-0-idioms {
	height: 100%;
	width: 304px;
	float: left;
}

.parameters-1-idioms {
	height: 100%;
	width: 304px;
	float: left;
}

.parameters-lsd {
	height: 100%;
	width: 304px;
	float: left;
}

.parameters-title {
	text-align: center;
	font-size: 18px;
}

.row-1 > div > .parameters-title {
	padding-bottom: 5px;
}

.row-2 > div > .parameters-title {
	padding-top: 10px;
	padding-bottom: 5px;
}

.parameters-content {
	overflow-y: auto;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.parameters-content-last {
	overflow-y: auto;
	border-top: 1px solid #ccc;
}

.parameters-column {
	height: 100%;
	width: 50%;
	float: left;
	border-top: 1px solid #ccc;
	position: relative;
}

.parameters-sub-row-1 {
	height: 40%;
	width: 100%;
	text-align: center;
	border-right: 1px solid #ccc;
	position: relative;
}

.parameters-sub-row-2 {
	height: 60%;
	width: 100%;
	text-align: center;
}

.parameters-sub-row-3 {
	height: 65%;
	width: 100%;
	text-align: center;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
}

.parameters-sub-row-4 {
	height: 35%;
	width: 100%;
	text-align: center;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
}

.parameters-sub-column {
	height: 100%;
	width: 50%;
	float: left;
}

.input-column-1 {
	height: 100%;
	width: 883px;
	float: left;
}

.input-column-2 {
	height: 100%;
	width: 222px;
	float: left;
	text-align: center;
	position: relative;
}

.bi-question-square {
	padding-top: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.macro-row-1 {
	height: 37px;
	width: 100%;
	text-align: right;
}

.macro-row-2 {
	width: 100%;
}

.macro-row-3 {
	height: 42px;
	width: 100%;
	text-align: right;
}

.macro-row-4 {
	width: 100%;
}

.macro-column-1 {
	height: 100%;
	width: 50%;
	float: left;
}

.macro-column-2 {
	height: 100%;
	width: 50%;
	float: left;
}

.subtitle {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.subtitle-1 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}

.subtitle-2 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.subtitle-3 {
	text-align: center;
	padding-bottom: 10px;
}

.textarea {
	width: 797px;
	margin-left: 32px;
	margin-right: 32px;
	padding: 10px;
	resize: none;
	font-size: 16px;
	line-height: 1.4;
}

.load-file-wrapper {
	height: 87px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.load-file {
	height: 30px;
	width: 150px;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
}

.file {
	display: none;
}

.code-samples-title {
	padding-top: 48px;
	padding-bottom: 10px;
}

.code-samples {
	height: 30px;
	width: 150px;
	border: 1px solid #ccc;
}

.table-wrapper-1 {
	margin-left: 10px;
	margin-right: 10px;
	overflow-y: auto;
}

.table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	background-color: rgb(255, 255, 255);
}

.th {
	padding: 4px 4px;
	border: 1px solid #ccc;
}

.tr {
	background-color: #ffff00;
}

.td {
	padding: 4px 4px;
	border: 1px solid #ccc;
	text-align: center;
}

.text-info {
	padding-left: 15px;
	padding-bottom: 10px;
	text-align: left;
}

.counter {
	width: 42px;
	height: 18px;
	margin-left: 8px;
	font-size: 16px;
	font-family: "Assistant", sans-serif;
	text-align: center;
}

.counter::-webkit-inner-spin-button {
	opacity: 1;
}

.label {
	padding-top: 15px;
	line-height: 1.65;
}

.label-1 {
	line-height: 1.65;
}

.macro-operations-wrapper {
	width: 50%;
	float: left;
}

.macro-first-operation {
	overflow-y: auto;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align: center;
	padding: 0px 95px;
}

.macro-second-operation {
	overflow-y: auto;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 0px 95px;
}

.macro-checkbox-wrapper {
	clear: both;
	position: relative;
}

.checkbox-2 {
	padding-top: 15px;
	text-align: center;
	line-height: 1.65;
}

.vertical-align {
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.macro-align-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.cpu-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.micro-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.idiom-0-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.lsd-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.idiom-1-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.cpu-column-1 {
	height: 100%;
	width: 17%;
	float: left;
}

.cpu-column-2 {
	height: 100%;
	width: 52%;
	float: left;
	text-align: center;
}

.cpu-column-3 {
	height: 100%;
	width: 31%;
	float: left;
	text-align: left;
}

.micro-column-1 {
	height: 100%;
	width: 18%;
	float: left;
}

.micro-column-2 {
	height: 100%;
	width: 53%;
	float: left;
	text-align: center;
}

.micro-column-3 {
	height: 100%;
	width: 29%;
	float: left;
	text-align: left;
}
